<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block styles %}
    <link href="https://fonts.googleapis.com/css?family=Fahkwang" rel="stylesheet">
    <style>
        .post1 {
            background-color: lightgray;
            color: black;
        }
        .post2 {
            background-color: darkgray;
            color: white;
        }
        h1 a {
            color: black;
            font-family: 'Fahkwang';
        }
    </style>
    {% endblock %}
</head>
<body>
    To jest tekst poza szablonem w base.html
{% block content2 %}
    {% for post in posts %}
    <div class="{% cycle 'post1' 'post2' %}">
        <div class="post-name-item">
            <h1><a href="{% url 'category' id=post.category_id %}">{{ post.post_name | title }}</a></h1>
        </div>
        <div class="post-cat-item">
            Category: {{ post.category }} <br/>
        </div>
        <div class="post-date-item">
            Created: {{ post.created | date:"D d M Y" }}
        </div>
{#        <br/>#}
        <div class="post-body-item">
            {{ post.post_body | linebreaksbr}}
        </div>
    </div>
{% endfor %}
{% endblock %}

</body>
</html>